<!DOCTYPE html>
<html lang="en">
<head>
  <title>Icon Choice</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" >
  <style>
    body {
      background-image: url('C:/Users/LMOTT/Documents/Welcome Lobby Table/vscode/Table Background Next and Back.svg');
      background-color: black;
      background-attachment:fixed;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .pointer {
      height: 4.75%;
      position: absolute;
      left: 22.9%;
      top: 53.3%;
      display: block;
      z-index: 1;
    }
    .check {
      height: 2.1078%;
      position: absolute;
      left: 21.59%;
      top: 48.97%;
      display: block;
      z-index: 1;
    }
    .next {
      height: 5%; 
      width: 2.03125%;
      position: absolute;
      background-color: transparent;
      border-color: transparent;
      top: 91.756%;
      left: 20.922%;
      z-index: 1;
      display: none;
    }
    .back {
      height: 5%; 
      width: 2.03125%;
      position: absolute;
      background-color: transparent;
      border-color: transparent;
      top: 91.756%;
      left: 17.00625%;
      z-index: 1;
    }
    .home {
      height: 5.5556%;
      width: 3.125%;
      position: absolute;
      background-color: transparent;
      border-color: transparent;
      top: 91.417%;
      left: 1.9375%;
      z-index: 1;
    }
    .pageflip {
    height: 2.5%; 
    width: 12%;
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    z-index: 2;
    }
    .pageflipnext {
      position: absolute;
      top: 60.1%;
      left: 10.922%;
      display: none;
    }
    .pageflipback {
      position: absolute;
      top: 48.8%;
      left: 10.922%;
      display: block;
    }
    .rover {
      height: 69.444%;
      position: absolute;
      left: 65%;
      top: 23%;
      z-index: 0;
      display: none;
    }
    .prompt {
      border-radius: 13.699%/58.824%;
      background-color: transparent;
      border-color: transparent;
      z-index: 0;
      color: white;
      display: block;
      font-family: 'Open Sans';
      width: 17%;
      scale: 1.4;
      position: absolute;
      top: 25.444%;
      left: 33.844%
    }
    .unselect {
      height: 5.5556%;
      width: 23.4375%;
      border-radius: 9%/90%;
      background-color: black;
      border-color: white;
      z-index: 1;
      color: white;
      display: block;
      font-family: 'Open Sans';
    }
    .pos1 {
      position: absolute;
      top: 31.944%;
      left: 33.431%;
    }
    .pos2 {
        position: absolute;
        top: 39.583%;
        left: 33.431%;
    }
    .pos3 {
      position: absolute;
      top: 47.222%;
      left: 33.431%;
    }
    .pos4 {
      position: absolute;
      top: 54.861%;
      left: 33.431%;
    }
    .pos5 {
      position: absolute;
      top: 62.5%;
      left: 33.431%;
    }
    .pos6 {
      position: absolute;
      top: 70.139%;
      left: 33.431%;
    }
    .pos7 {
      position: absolute;
      top: 77.778%;
      left: 33.431%;
    }
    .pos8 {
      position: absolute;
      top: 85.417%;
      left: 33.431%;
    }
    .sector {
        position: absolute;
        display: none;
    }
    .sector1 {
      position: absolute;
      top: 31%;
      left: 31%
    }
    .sector2 {
      position: absolute;
      top: 31%;
      left: 41%
    }
    .sector3 {
      position: absolute;
      top: 31%;
      left: 51%
    }
    .sector4 {
      position: absolute;
      top: 52.8%;
      left: 31%
    }
    .sector5 {
      position: absolute;
      top: 52.8%;
      left: 41%
    }
    .sector6 {
      position: absolute;
      top: 52.8%;
      left: 51%
    }
    .sector7 {
      position: absolute;
      top: 74.6%;
      left: 36%
    }
    .sector8 {
      position: absolute;
      top: 74.6%;
      left: 46%
    }
    .select {
      height: 11.389%;
      width: 7.642%;
      border-color: white;
      border-radius: 20%/15%;
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
      background-color: transparent;
      z-index: 1;
      color: white;
      display: block;
      font-family: 'Open Sans';
      padding-top: 7%;
      padding-bottom: 5%;
    }
    .sectorunselect {
      height: 11.389%;
      width: 7.642%;
      border-color: transparent;
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
      background-color: transparent;
      z-index: 1;
      color: white;
      display: block;
      font-family: 'Open Sans';
      padding-top: 7%;
      padding-bottom: 5%;
    }
    .etch {   /* Icon Position */
        height: 11.7222%;
        position: absolute;
        top: 31.45%;
        left: 80.378%;
        display: none;
    }
    .bti {
        height: 3.1778%;
        width: 12.075%;
        position: absolute;
        top: 21.533%;
        left: 34.5875%;
        display: block;
        background-color: transparent;
        border-color: transparent;
        z-index: 1;
        color: grey;
        display: block;
        font-family: 'Open Sans';
        font-weight: bold;
    }
    .arrow {
      height: 2.1778%;
      position: absolute;
      top: 22.133%;
      left: 34.5875%;
      display: block;
      z-index: 2;
    }
   

    /* Transitions */
    .transition-1 {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 101;
      background-color: black;
      opacity: 0;
      pointer-events: none;
      transition: 0.01s ease-out;
    } 

    .transition-1.is-active {
      opacity: 1;
      pointer-events: all;
    } 
  </style>
</head>
</html>
<body>

    <div class="transition transition-1 is-active"></div>

    

  
  <!-- Pointer -->
     <img id="Pointer" src='../Pointer.png' alt="Pointer" class="pointer" />
  <!-- Check -->
     <img id="Check" src='../Check.png' alt="Check" class="check" />
  <!-- Next Page Button -->
     <a id="Next Page" href="Options.html" class="next"></a>
  <!-- Options Page Button -->
     <a id="Options Page" href="Options.html" class="pageflip pageflipnext"></a>
  <!-- Back Page Button -->
     <a href="MTOdesign.html" class="back"></a>
  <!-- Color Page Button -->
     <a href="MTOdesign.html" class="pageflip pageflipback"></a>
  <!-- Home Page Button -->
     <button id="Home Page" onclick="document.location='C:/Users/LMOTT/Downloads/MTO Code/Templates/Table_Page.html'" class="home"></button>
  <!-- Back to Industry -->
     <button id="BTI" class="sector">BACK TO INDUSTRY</button>
  <!-- Back to Industry Arrow -->
     <img id="BTI Arrow" src='../Back Arrow.png' alt="Arrow" class="sector"/>
  <!-- Industry 1 -->
     <button id="Industry 1" class="unselect pos1">Consumer</button>
  <!-- Industry 2 -->
     <button id="Industry 2" class="unselect pos2">Energy, Resources & Industrials</button>
  <!-- Industry 3 -->
     <button id="Industry 3" class="unselect pos3">Financial Services</button>
  <!-- Industry 4 -->
     <button id="Industry 4" class="unselect pos4">Government & Public Services</button>
  <!-- Industry 5 -->
     <button id="Industry 5" class="unselect pos5">Life Sciences & Health Care</button>
  <!-- Industry 6 -->
     <button id="Industry 6" class="unselect pos6">Technology, Media & Telecommunications</button>
  <!-- Sector 1a -->
     <button id="Sector 1a" style="background-image: url('../Image1a.png');" class="sector sector1">Automotive</button>
  <!-- Sector 1b -->
     <button id="Sector 1b" style="background-image: url('../Image1b.png');" class="sector sector2">Consumer Products</button>
  <!-- Sector 1c -->
     <button id="Sector 1c" style="background-image: url('../Image1c.png');" class="sector sector3">Retail</button>
  <!-- Sector 1d -->
     <button id="Sector 1d" style="background-image: url('../Image1d.png');" class="sector sector4">Transportation</button>
  <!-- Sector 1e -->
     <button id="Sector 1e" style="background-image: url('../Image1e.png');" class="sector sector5">Hospitality & Services</button>
  <!-- Sector 1f-->
     <button id="Sector 1f" style="background-image: url('../Image1f.png');" class="sector sector6">Wholesale & Distribution</button>
  <!-- Sector 2a-->
     <button id="Sector 2a" style="background-image: url('../Image2a.png');" class="sector sector1">Industrial Products</button>
  <!-- Sector 2b-->
     <button id="Sector 2b" style="background-image: url('../Image2b.png');" class="sector sector2">Construction</button>
  <!-- Sector 2c-->
     <button id="Sector 2c" style="background-image: url('../Image2c.png');" class="sector sector3">Power</button>
  <!-- Sector 2d-->
     <button id="Sector 2d" style="background-image: url('../Image2d.png');" class="sector sector4">Gas & Chemicals</button>
  <!-- Sector 2e-->
     <button id="Sector 2e" style="background-image: url('../Image2e.png');" class="sector sector5">Oil</button>
  <!-- Sector 2f-->
     <button id="Sector 2f" style="background-image: url('../Image2f.png');" class="sector sector6">Renewables & Energy</button>
  <!-- Sector 2g-->
     <button id="Sector 2g" style="background-image: url('../Image2g.png');" class="sector sector7">Utilities</button>
  <!-- Sector 2h-->
     <button id="Sector 2h" style="background-image: url('../Image2h.png');" class="sector sector8">Mining & Metals</button>
  <!-- Sector 3a-->
     <button id="Sector 3a" style="background-image: url('../Image3a.png');" class="sector sector1">Banking & Capital Markets</button>
  <!-- Sector 3b-->
     <button id="Sector 3b" style="background-image: url('../Image3b.png');" class="sector sector2">Insurance</button>
  <!-- Sector 3c-->
     <button id="Sector 3c" style="background-image: url('../Image3c.png');" class="sector sector3">Investment Management</button>
  <!-- Sector 3d-->
     <button id="Sector 3d" style="background-image: url('../Image3d.png');" class="sector sector5">Real Estate</button>
  <!-- Sector 4a -->
     <button id="Sector 4a" style="background-image: url('../Image4a.png');" class="sector sector1">Civil, State & Local Government</button>
  <!-- Sector 4b -->
     <button id="Sector 4b" style="background-image: url('../Image4b.png');" class="sector sector2">Justice</button>
  <!-- Sector 4c -->
     <button id="Sector 4c" style="background-image: url('../Image4c.png');" class="sector sector3">Defense & Security</button>
  <!-- Sector 4d -->
     <button id="Sector 4d" style="background-image: url('../Image4d.png');" class="sector sector4">Health & Human Services</button>
  <!-- Sector 4e -->
     <button id="Sector 4e" style="background-image: url('../Image4e.png');" class="sector sector5">International Donor Organizations</button>
  <!-- Sector 4f-->
     <button id="Sector 4f" style="background-image: url('../Image4f.png');" class="sector sector6">Higher Education</button>
  <!-- Sector 5a -->
     <button id="Sector 5a" style="background-image: url('../Image5a.png');" class="sector sector1">Health Care Providers</button>
  <!-- Sector 5b -->
     <button id="Sector 5b" style="background-image: url('../Image5b.png');" class="sector sector2">Health Plans</button>
  <!-- Sector 5c -->
     <button id="Sector 5c" style="background-image: url('../Image5c.png');" class="sector sector3">Life Sciences</button>
  <!-- Sector 6a -->
     <button id="Sector 6a" style="background-image: url('../Image6a.png');" class="sector sector1">Technology</button>
  <!-- Sector 6b -->
     <button id="Sector 6b" style="background-image: url('../Image6b.png');" class="sector sector2">Media & Entertainment</button>
  <!-- Sector 6c -->
     <button id="Sector 6c" style="background-image: url('../Image6c.png');" class="sector sector3">Telecommun- ications</button>
  <!-- Red Rover -->
     <img id="Red Rover" src='../Rover Top View - Red.png' alt="Red Rover" class="rover"/>
  <!-- Orange Rover -->
     <img id="Orange Rover" src='../Rover Top View - Orange.png' alt="Orange Rover" class="rover"/>
  <!-- Green Rover -->
     <img id="Green Rover" src='../Rover Top View - Green.png' alt="Green Rover" class="rover"/>
  <!-- Blue Rover -->
     <img id="Blue Rover" src='../Rover Top View - Blue.png' alt="Blue Rover" class="rover"/>
  <!-- Black Rover -->
     <img id="Black Rover" src='../Rover Top View - Black.png' alt="Black Rover" class="rover"/>
  <!-- Industry Prompt -->
     <button id="Industry Prompt" class="prompt">Select preferred industry.</button>
  <!-- Sector Prompt -->
     <button id="Sector Prompt" class="prompt">Select preferred sector.</button>
  <!-- Image 1a -->
     <img id="Image 1a" src="../Image1a.png" alt="Automotive" class="etch"/>
  <!-- Image 1b -->
     <img id="Image 1b" src="../Image1b.png" alt="Consumer Products" class="etch"/>
  <!-- Image 1c -->
     <img id="Image 1c" src="../Image1c.png" alt="Retail" class="etch"/>
  <!-- Image 1d -->
     <img id="Image 1d" src="../Image1d.png" alt="Transportation" class="etch"/>
  <!-- Image 1e -->
     <img id="Image 1e" src="../Image1e.png" alt="Hospitality & Services" class="etch"/>
  <!-- Image 1f -->
     <img id="Image 1f" src="../Image1f.png" alt="Wholesale & Distribution" class="etch"/>
  <!-- Image 2a -->
     <img id="Image 2a" src="../Image2a.png" alt="Industrial Products" class="etch"/>
  <!-- Image 2b -->
     <img id="Image 2b" src="../Image2b.png" alt="Construction" class="etch"/>
  <!-- Image 2c -->
     <img id="Image 2c" src="../Image2c.png" alt="Power" class="etch"/>
  <!-- Image 2d -->
     <img id="Image 2d" src="../Image2d.png" alt="Gas & Chemicals" class="etch"/>
  <!-- Image 2e -->
     <img id="Image 2e" src="../Image2e.png" alt="Oil" class="etch"/>
  <!-- Image 2f -->
     <img id="Image 2f" src="../Image2f.png" alt="Renewables & Energy" class="etch"/>
  <!-- Image 2g -->
     <img id="Image 2g" src="../Image2g.png" alt="Utilities" class="etch"/>
  <!-- Image 2h -->
     <img id="Image 2h" src="../Image2h.png" alt="Mining & Metals" class="etch"/>
  <!-- Image 3a -->
     <img id="Image 3a" src="../Image3a.png" alt="Banking & Capital Markets" class="etch"/>
  <!-- Image 3b -->
     <img id="Image 3b" src="../Image3b.png" alt="Insurance" class="etch"/>
  <!-- Image 3c -->
     <img id="Image 3c" src="../Image3c.png" alt="Investment Management" class="etch"/>
  <!-- Image 3d -->
     <img id="Image 3d" src="../Image3d.png" alt="Real Estate" class="etch"/>
  <!-- Image 4a -->
     <img id="Image 4a" src="../Image4a.png" alt="Civil, State & Local Government" class="etch"/>
  <!-- Image 4b -->
     <img id="Image 4b" src="../Image4b.png" alt="Justice" class="etch"/>
  <!-- Image 4c -->
     <img id="Image 4c" src="../Image4c.png" alt="Defense & Security" class="etch"/>
  <!-- Image 4d -->
     <img id="Image 4d" src="../Image4d.png" alt="Health & Human Services" class="etch"/>
  <!-- Image 4e -->
     <img id="Image 4e" src="../Image4e.png" alt="International Donor Organizations" class="etch"/>
  <!-- Image 4f -->
     <img id="Image 4f" src="../Image4f.png" alt="Higher Education" class="etch"/>
  <!-- Image 5a -->
     <img id="Image 5a" src="../Image5a.png" alt="Health Care Providers" class="etch"/>
  <!-- Image 5b -->
     <img id="Image 5b" src="../Image5b.png" alt="Health Plans" class="etch"/>
  <!-- Image 5c -->
     <img id="Image 5c" src="../Image5c.png" alt="Life Sciences" class="etch"/>
  <!-- Image 6a -->
     <img id="Image 6a" src="../Image6a.png" alt="Technology" class="etch"/>
  <!-- Image 6b -->
     <img id="Image 6b" src="../Image6b.png" alt="Media & Entertainment" class="etch"/>
  <!-- Image 6c -->
     <img id="Image 6c" src="../Image6c.png" alt="Telecommunications" class="etch"/>

  <script>
      /* Rover Color Display */
     var RedRover=document.getElementById('Red Rover');
     var OrangeRover=document.getElementById('Orange Rover');
     var GreenRover=document.getElementById('Green Rover');
     var BlueRover=document.getElementById('Blue Rover');
     var BlackRover=document.getElementById('Black Rover');
     let Color = localStorage.getItem('color');
     if (Color === 'Red') {
        RedRover.style.display = 'block';
     } else if (Color === "Orange") {
        OrangeRover.style.display = 'block';
     } else if (Color === "Green") {
        GreenRover.style.display = 'block';
     } else if (Color === "Blue") {
        BlueRover.style.display = 'block';
     } else {
        BlackRover.style.display = 'block';
     }
     localStorage.setItem('icon','none');
     /* Title Images */
     var InudstryPrompt=document.getElementById('Industry Prompt');
     var SectorPrompt=document.getElementById('Sector Prompt');
     SectorPrompt.style.display = 'none';
     /* Icon Images */
     var Image1a=document.getElementById('Image 1a');
     var Image1b=document.getElementById('Image 1b');
     var Image1c=document.getElementById('Image 1c');
     var Image1d=document.getElementById('Image 1d');
     var Image1e=document.getElementById('Image 1e');
     var Image1f=document.getElementById('Image 1f');
     var Image2a=document.getElementById('Image 2a');
     var Image2b=document.getElementById('Image 2b');
     var Image2c=document.getElementById('Image 2c');
     var Image2d=document.getElementById('Image 2d');
     var Image2e=document.getElementById('Image 2e');
     var Image2f=document.getElementById('Image 2f');
     var Image2g=document.getElementById('Image 2g');
     var Image2h=document.getElementById('Image 2h');
     var Image3a=document.getElementById('Image 3a');
     var Image3b=document.getElementById('Image 3b');
     var Image3c=document.getElementById('Image 3c');
     var Image3d=document.getElementById('Image 3d');
     var Image4a=document.getElementById('Image 4a');
     var Image4b=document.getElementById('Image 4b');
     var Image4c=document.getElementById('Image 4c');
     var Image4d=document.getElementById('Image 4d');
     var Image4e=document.getElementById('Image 4e');
     var Image4f=document.getElementById('Image 4f');
     var Image5a=document.getElementById('Image 5a');
     var Image5b=document.getElementById('Image 5b');
     var Image5c=document.getElementById('Image 5c');
     var Image6a=document.getElementById('Image 6a');
     var Image6b=document.getElementById('Image 6b');
     var Image6c=document.getElementById('Image 6c');
     var BTIArrow=document.getElementById('BTI Arrow');
     /* Establish Buttons */
     var Industry1=document.getElementById('Industry 1');
     var Industry2=document.getElementById('Industry 2');
     var Industry3=document.getElementById('Industry 3');
     var Industry4=document.getElementById('Industry 4');
     var Industry5=document.getElementById('Industry 5');
     var Industry6=document.getElementById('Industry 6');
     var BTI=document.getElementById('BTI');
     var Sector1a=document.getElementById('Sector 1a');
     var Sector1b=document.getElementById('Sector 1b');
     var Sector1c=document.getElementById('Sector 1c');
     var Sector1d=document.getElementById('Sector 1d');
     var Sector1e=document.getElementById('Sector 1e');
     var Sector1f=document.getElementById('Sector 1f');
     var Sector2a=document.getElementById('Sector 2a');
     var Sector2b=document.getElementById('Sector 2b');
     var Sector2c=document.getElementById('Sector 2c');
     var Sector2d=document.getElementById('Sector 2d');
     var Sector2e=document.getElementById('Sector 2e');
     var Sector2f=document.getElementById('Sector 2f');
     var Sector2g=document.getElementById('Sector 2g');
     var Sector2h=document.getElementById('Sector 2h');
     var Sector3a=document.getElementById('Sector 3a');
     var Sector3b=document.getElementById('Sector 3b');
     var Sector3c=document.getElementById('Sector 3c');
     var Sector3d=document.getElementById('Sector 3d');
     var Sector4a=document.getElementById('Sector 4a');
     var Sector4b=document.getElementById('Sector 4b');
     var Sector4c=document.getElementById('Sector 4c');
     var Sector4d=document.getElementById('Sector 4d');
     var Sector4e=document.getElementById('Sector 4e');
     var Sector4f=document.getElementById('Sector 4f');
     var Sector5a=document.getElementById('Sector 5a');
     var Sector5b=document.getElementById('Sector 5b');
     var Sector5c=document.getElementById('Sector 5c');
     var Sector6a=document.getElementById('Sector 6a');
     var Sector6b=document.getElementById('Sector 6b');
     var Sector6c=document.getElementById('Sector 6c');
     var Next=document.getElementById('Next Page');
     var OptionsPage=document.getElementById('Options Page');
     /* Industry 1 */
     Industry1.onclick = function() {
        [Industry1, Industry2, Industry3, Industry4, Industry5, Industry6].forEach(i=>{i.classList.replace('unselect','sector');});
        [Sector1a, Sector1b, Sector1c, Sector1d, Sector1e, Sector1f].forEach(i=>{i.classList.replace('sector','sectorunselect');});
        BTI.className = 'bti';
        BTIArrow.className = 'arrow';
        InudstryPrompt.style.display = 'none';
        SectorPrompt.style.display = 'block';
        BTI.onclick = function () {
          [Sector1a, Sector1b, Sector1c, Sector1d, Sector1e, Sector1f].forEach(i=>{i.classList.replace('sectorunselect','sector');});
          [Sector1a, Sector1b, Sector1c, Sector1d, Sector1e, Sector1f].forEach(i=>{i.classList.replace('select','sector');});
          [Industry1, Industry2, Industry3, Industry4, Industry5, Industry6].forEach(i=>{i.classList.replace('sector','unselect');});
          [Image1a, Image1b, Image1c, Image1d, Image1e, Image1f].forEach(i=>{i.style.display='none';});
          Next.style.display = 'none';
          OptionsPage.style.display = 'none';
          InudstryPrompt.style.display = 'block';
          SectorPrompt.style.display = 'none';
          BTI.className = "sector";
          BTIArrow.className = 'sector';
        } 
        Sector1a.onclick = function () {
          [Image1b, Image1c, Image1d, Image1e, Image1f].forEach(i=>{i.style.display='none';});
          [Sector1a, Sector1b, Sector1c, Sector1d, Sector1e, Sector1f].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image1a.style.display= 'block';
          Sector1a.className = "select sector1";
          localStorage.setItem('icon','21');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector1b.onclick = function () {
          [Image1a, Image1c, Image1d, Image1e, Image1f].forEach(i=>{i.style.display='none';});
          [Sector1a, Sector1b, Sector1c, Sector1d, Sector1e, Sector1f].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image1b.style.display= 'block';
          Sector1b.className = "select sector2";
          localStorage.setItem('icon','22');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector1c.onclick = function () {
          [Image1a, Image1b, Image1d, Image1e, Image1f].forEach(i=>{i.style.display='none';});
          [Sector1a, Sector1b, Sector1c, Sector1d, Sector1e, Sector1f].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image1c.style.display= 'block';
          Sector1c.className = "select sector3";
          localStorage.setItem('icon','23');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector1d.onclick = function () {
          [Image1a, Image1b, Image1c, Image1e, Image1f].forEach(i=>{i.style.display='none';});
          [Sector1a, Sector1b, Sector1c, Sector1d, Sector1e, Sector1f].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image1d.style.display= 'block';
          Sector1d.className = "select sector4";
          localStorage.setItem('icon','24');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector1e.onclick = function () {
          [Image1a, Image1b, Image1c, Image1d, Image1f].forEach(i=>{i.style.display='none';});
          [Sector1a, Sector1b, Sector1c, Sector1d, Sector1e, Sector1f].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image1e.style.display= 'block';
          Sector1e.className = "select sector5";
          localStorage.setItem('icon','25');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector1f.onclick = function () {
          [Image1a, Image1b, Image1c, Image1d, Image1e].forEach(i=>{i.style.display='none';});
          [Sector1a, Sector1b, Sector1c, Sector1d, Sector1e, Sector1f].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image1f.style.display= 'block';
          Sector1f.className = "select sector6";
          localStorage.setItem('icon','26');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
     }
     /* Industry 2 */
     Industry2.onclick = function() {
        [Industry1, Industry2, Industry3, Industry4, Industry5, Industry6].forEach(i=>{i.classList.replace('unselect','sector');});
        [Sector2a, Sector2b, Sector2c, Sector2d, Sector2e, Sector2f, Sector2g, Sector2h].forEach(i=>{i.classList.replace('sector','sectorunselect');});
        BTI.className = 'bti';
        BTIArrow.className = 'arrow';
        InudstryPrompt.style.display = 'none';
        SectorPrompt.style.display = 'block';
        BTI.onclick = function () {
          [Sector2a, Sector2b, Sector2c, Sector2d, Sector2e, Sector2f, Sector2g, Sector2h].forEach(i=>{i.classList.replace('sectorunselect','sector');});
          [Sector2a, Sector2b, Sector2c, Sector2d, Sector2e, Sector2f, Sector2g, Sector2h].forEach(i=>{i.classList.replace('select','sector');});
          [Industry1, Industry2, Industry3, Industry4, Industry5, Industry6].forEach(i=>{i.classList.replace('sector','unselect');});
          [Image2a, Image2b, Image2c, Image2d, Image2e, Image2f, Image2g, Image2h].forEach(i=>{i.style.display='none';});
          Next.style.display = 'none';
          OptionsPage.style.display = 'none';
          InudstryPrompt.style.display = 'block';
          SectorPrompt.style.display = 'none';
          BTI.className = "sector";
          BTIArrow.className = 'sector';
        } 
        Sector2a.onclick = function () {
          [Image2b, Image2c, Image2d, Image2e, Image2f, Image2g, Image2h].forEach(i=>{i.style.display='none';});
          [Sector2a, Sector2b, Sector2c, Sector2d, Sector2e, Sector2f, Sector2g, Sector2h].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image2a.style.display= 'block';
          Sector2a.className = "select sector1";
          localStorage.setItem('icon','27');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector2b.onclick = function () {
          [Image2a, Image2c, Image2d, Image2e, Image2f, Image2g, Image2h].forEach(i=>{i.style.display='none';});
          [Sector2a, Sector2b, Sector2c, Sector2d, Sector2e, Sector2f, Sector2g, Sector2h].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image2b.style.display= 'block';
          Sector2b.className = "select sector2";
          localStorage.setItem('icon','28');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector2c.onclick = function () {
          [Image2a, Image2b, Image2d, Image2e, Image2f, Image2g, Image2h].forEach(i=>{i.style.display='none';});
          [Sector2a, Sector2b, Sector2c, Sector2d, Sector2e, Sector2f, Sector2g, Sector2h].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image2c.style.display= 'block';
          Sector2c.className = "select sector3";
          localStorage.setItem('icon','29');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector2d.onclick = function () {
          [Image2a, Image2b, Image2c, Image2e, Image2f, Image2g, Image2h].forEach(i=>{i.style.display='none';});
          [Sector2a, Sector2b, Sector2c, Sector2d, Sector2e, Sector2f, Sector2g, Sector2h].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image2d.style.display= 'block';
          Sector2d.className = "select sector4";
          localStorage.setItem('icon','30');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector2e.onclick = function () {
          [Image2a, Image2b, Image2c, Image2d, Image2f, Image2g, Image2h].forEach(i=>{i.style.display='none';});
          [Sector2a, Sector2b, Sector2c, Sector2d, Sector2e, Sector2f, Sector2g, Sector2h].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image2e.style.display= 'block';
          Sector2e.className = "select sector5";
          localStorage.setItem('icon','31');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector2f.onclick = function () {
          [Image2a, Image2b, Image2c, Image2d, Image2e, Image2g, Image2h].forEach(i=>{i.style.display='none';});
          [Sector2a, Sector2b, Sector2c, Sector2d, Sector2e, Sector2f, Sector2g, Sector2h].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image2f.style.display= 'block';
          Sector2f.className = "select sector6";
          localStorage.setItem('icon','32');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector2g.onclick = function () {
          [Image2a, Image2b, Image2c, Image2d, Image2e, Image2f, Image2h].forEach(i=>{i.style.display='none';});
          [Sector2a, Sector2b, Sector2c, Sector2d, Sector2e, Sector2f, Sector2g, Sector2h].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image2g.style.display= 'block';
          Sector2g.className = "select sector7";
          localStorage.setItem('icon','33');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector2h.onclick = function () {
          [Image2a, Image2b, Image2c, Image2d, Image2e, Image2f, Image2g].forEach(i=>{i.style.display='none';});
          [Sector2a, Sector2b, Sector2c, Sector2d, Sector2e, Sector2f, Sector2g, Sector2h].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image2h.style.display= 'block';
          Sector2h.className = "select sector8";
          localStorage.setItem('icon','34');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
     }
      /* Industry 3 */
      Industry3.onclick = function() {
        [Industry1, Industry2, Industry3, Industry4, Industry5, Industry6].forEach(i=>{i.classList.replace('unselect','sector');});
        [Sector3a, Sector3b, Sector3c, Sector3d].forEach(i=>{i.classList.replace('sector','sectorunselect');});
        BTI.className = 'bti';
        BTIArrow.className = 'arrow';
        InudstryPrompt.style.display = 'none';
        SectorPrompt.style.display = 'block';
        BTI.onclick = function () {
          [Sector3a, Sector3b, Sector3c, Sector3d].forEach(i=>{i.classList.replace('sectorunselect','sector');});
          [Sector3a, Sector3b, Sector3c, Sector3d].forEach(i=>{i.classList.replace('select','sector');});
          [Industry1, Industry2, Industry3, Industry4, Industry5, Industry6].forEach(i=>{i.classList.replace('sector','unselect');});
          [Image3a, Image3b, Image3c, Image3d].forEach(i=>{i.style.display='none';});
          Next.style.display = 'none';
          OptionsPage.style.display = 'none';
          InudstryPrompt.style.display = 'block';
          SectorPrompt.style.display = 'none';
          BTI.className = "sector";
          BTIArrow.className = 'sector';
        } 
        Sector3a.onclick = function () {
          [Image3b, Image3c, Image3d].forEach(i=>{i.style.display='none';});
          [Sector3a, Sector3b, Sector3c, Sector3d].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image3a.style.display= 'block';
          Sector3a.className = "select sector1";
          localStorage.setItem('icon','35');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector3b.onclick = function () {
          [Image3a, Image3c, Image3d].forEach(i=>{i.style.display='none';});
          [Sector3a, Sector3b, Sector3c, Sector3d].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image3b.style.display= 'block';
          Sector3b.className = "select sector2";
          localStorage.setItem('icon','36');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector3c.onclick = function () {
          [Image3a, Image3b, Image3d].forEach(i=>{i.style.display='none';});
          [Sector3a, Sector3b, Sector3c, Sector3d].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image3c.style.display= 'block';
          Sector3c.className = "select sector3";
          localStorage.setItem('icon','37');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector3d.onclick = function () {
          [Image3a, Image3b, Image3c,].forEach(i=>{i.style.display='none';});
          [Sector3a, Sector3b, Sector3c, Sector3d].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image3d.style.display= 'block';
          Sector3d.className = "select sector5";
          localStorage.setItem('icon','38');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
     }
     /* Industry 4 */
     Industry4.onclick = function() {
        [Industry1, Industry2, Industry3, Industry4, Industry5, Industry6].forEach(i=>{i.classList.replace('unselect','sector');});
        [Sector4a, Sector4b, Sector4c, Sector4d, Sector4e, Sector4f].forEach(i=>{i.classList.replace('sector','sectorunselect');});
        BTI.className = 'bti';
        BTIArrow.className = 'arrow';
        InudstryPrompt.style.display = 'none';
        SectorPrompt.style.display = 'block';
        BTI.onclick = function () {
          [Sector4a, Sector4b, Sector4c, Sector4d, Sector4e, Sector4f].forEach(i=>{i.classList.replace('sectorunselect','sector');});
          [Sector4a, Sector4b, Sector4c, Sector4d, Sector4e, Sector4f].forEach(i=>{i.classList.replace('select','sector');});
          [Industry1, Industry2, Industry3, Industry4, Industry5, Industry6].forEach(i=>{i.classList.replace('sector','unselect');});
          [Image4a, Image4b, Image4c, Image4d, Image4e, Image4f].forEach(i=>{i.style.display='none';});
          Next.style.display = 'none';
          OptionsPage.style.display = 'none';
          InudstryPrompt.style.display = 'block';
          SectorPrompt.style.display = 'none';
          BTI.className = "sector";
          BTIArrow.className = 'sector';
        } 
        Sector4a.onclick = function () {
          [Image4b, Image4c, Image4d, Image4e, Image4f].forEach(i=>{i.style.display='none';});
          [Sector4a, Sector4b, Sector4c, Sector4d, Sector4e, Sector4f].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image4a.style.display= 'block';
          Sector4a.className = "select sector1";
          localStorage.setItem('icon','39');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector4b.onclick = function () {
          [Image4a, Image4c, Image4d, Image4e, Image4f].forEach(i=>{i.style.display='none';});
          [Sector4a, Sector4b, Sector4c, Sector4d, Sector4e, Sector4f].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image4b.style.display= 'block';
          Sector4b.className = "select sector2";
          localStorage.setItem('icon','40');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector4c.onclick = function () {
          [Image4a, Image4b, Image4d, Image4e, Image4f].forEach(i=>{i.style.display='none';});
          [Sector4a, Sector4b, Sector4c, Sector4d, Sector4e, Sector4f].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image4c.style.display= 'block';
          Sector4c.className = "select sector3";
          localStorage.setItem('icon','41');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector4d.onclick = function () {
          [Image4a, Image4b, Image4c, Image4e, Image4f].forEach(i=>{i.style.display='none';});
          [Sector4a, Sector4b, Sector4c, Sector4d, Sector4e, Sector4f].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image4d.style.display= 'block';
          Sector4d.className = "select sector4";
          localStorage.setItem('icon','42');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector4e.onclick = function () {
          [Image4a, Image4b, Image4c, Image4d, Image4f].forEach(i=>{i.style.display='none';});
          [Sector4a, Sector4b, Sector4c, Sector4d, Sector4e, Sector4f].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image4e.style.display= 'block';
          Sector4e.className = "select sector5";
          localStorage.setItem('icon','43');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector4f.onclick = function () {
          [Image4a, Image4b, Image4c, Image4d, Image4e].forEach(i=>{i.style.display='none';});
          [Sector4a, Sector4b, Sector4c, Sector4d, Sector4e, Sector4f].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image4f.style.display= 'block';
          Sector4f.className = "select sector6";
          localStorage.setItem('icon','44');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
     }
     /* Industry 5 */
     Industry5.onclick = function() {
        [Industry1, Industry2, Industry3, Industry4, Industry5, Industry6].forEach(i=>{i.classList.replace('unselect','sector');});
        [Sector5a, Sector5b, Sector5c].forEach(i=>{i.classList.replace('sector','sectorunselect');});
        BTI.className = 'bti';
        BTIArrow.className = 'arrow';
        InudstryPrompt.style.display = 'none';
        SectorPrompt.style.display = 'block';
        BTI.onclick = function () {
          [Sector5a, Sector5b, Sector5c].forEach(i=>{i.classList.replace('sectorunselect','sector');});
          [Sector5a, Sector5b, Sector5c].forEach(i=>{i.classList.replace('select','sector');});
          [Industry1, Industry2, Industry3, Industry4, Industry5, Industry6].forEach(i=>{i.classList.replace('sector','unselect');});
          [Image5a, Image5b, Image5c].forEach(i=>{i.style.display='none';});
          Next.style.display = 'none';
          OptionsPage.style.display = 'none';
          InudstryPrompt.style.display = 'block';
          SectorPrompt.style.display = 'none';
          BTI.className = "sector";
          BTIArrow.className = 'sector';
        } 
        Sector5a.onclick = function () {
          [Image5b, Image5c].forEach(i=>{i.style.display='none';});
          [Sector5a, Sector5b, Sector5c].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image5a.style.display= 'block';
          Sector5a.className = "select sector1";
          localStorage.setItem('icon','45');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector5b.onclick = function () {
          [Image5a, Image5c].forEach(i=>{i.style.display='none';});
          [Sector5a, Sector5b, Sector5c].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image5b.style.display= 'block';
          Sector5b.className = "select sector2";
          localStorage.setItem('icon','46');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector5c.onclick = function () {
          [Image5a, Image5b].forEach(i=>{i.style.display='none';});
          [Sector5a, Sector5b, Sector5c].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image5c.style.display= 'block';
          Sector5c.className = "select sector3";
          localStorage.setItem('icon','47');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
     }   
     /* Industry 6 */
     Industry6.onclick = function() {
        [Industry1, Industry2, Industry3, Industry4, Industry5, Industry6].forEach(i=>{i.classList.replace('unselect','sector');});
        [Sector6a, Sector6b, Sector6c].forEach(i=>{i.classList.replace('sector','sectorunselect');});
        BTI.className = 'bti';
        BTIArrow.className = 'arrow';
        InudstryPrompt.style.display = 'none';
        SectorPrompt.style.display = 'block';
        BTI.onclick = function () {
          [Sector6a, Sector6b, Sector6c].forEach(i=>{i.classList.replace('sectorunselect','sector');});
          [Sector6a, Sector6b, Sector6c].forEach(i=>{i.classList.replace('select','sector');});
          [Industry1, Industry2, Industry3, Industry4, Industry5, Industry6].forEach(i=>{i.classList.replace('sector','unselect');});
          [Image6a, Image6b, Image6c].forEach(i=>{i.style.display='none';});
          Next.style.display = 'none';
          OptionsPage.style.display = 'none';
          InudstryPrompt.style.display = 'block';
          SectorPrompt.style.display = 'none';
          BTI.className = "sector";
          BTIArrow.className = 'sector';
        } 
        Sector6a.onclick = function () {
          [Image6b, Image6c].forEach(i=>{i.style.display='none';});
          [Sector6a, Sector6b, Sector6c].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image6a.style.display= 'block';
          Sector6a.className = "select sector1";
          localStorage.setItem('icon','48');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector6b.onclick = function () {
          [Image6a, Image6c].forEach(i=>{i.style.display='none';});
          [Sector6a, Sector6b, Sector6c].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image6b.style.display= 'block';
          Sector6b.className = "select sector2";
          localStorage.setItem('icon','49');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
        Sector6c.onclick = function () {
          [Image6a, Image6b].forEach(i=>{i.style.display='none';});
          [Sector6a, Sector6b, Sector6c].forEach(i=>{i.classList.replace('select','sectorunselect');});
          Image6c.style.display= 'block';
          Sector6c.className = "select sector3";
          localStorage.setItem('icon','50');
          Next.style.display = 'block';
          OptionsPage.style.display = 'block';
        }
     }  
      /* Transitions */
      window.onload = () => {
      const transition_el = document.querySelector('.transition');

      setTimeout( () => {
        transition_el.classList.remove('is-active');
      }, 10);
      }

  </script> 
</body>

