<!DOCTYPE html>
<html lang="en">
<head>
  <title>Submit</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" >
  <style>
    body {
      background-image: url('C:/Users/LMOTT/Documents/Welcome Lobby Table/vscode/Table Background Back Only.svg');
      background-color: black;
      background-attachment:fixed;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
    }
    .container {
      height: 87%;
      width: 83%;
      position: absolute;
      left: 28.7%;
      top: 9%;
    }
    .pointer {
      height: 4.75%;
      position: absolute;
      left: 22.9%;
      top: 64.4%;
      display: block;
      z-index: 1;
    }
    .check1 {
      height: 2.1078%;
      position: absolute;
      left: 21.59%;
      top: 48.97%;
      display: block;
      z-index: 1;
    }
    .check2 {
      height: 2.1078%;
      position: absolute;
      left: 21.59%;
      top: 54.55%;
      display: block;
      z-index: 1;
    }
    .check3 {
      height: 2.1078%;
      position: absolute;
      left: 21.59%;;
      top: 60.12%;
      display: block;
      z-index: 1;
    }
    .back {
      height: 5%; 
      width: 2.03125%;
      position: absolute;
      background-color: transparent;
      border-color: transparent;
      top: 91.756%;
      left: 17.00625%;
      z-index: 1;
    }
    .home {
      height: 5.5556%;
      width: 3.125%;
      position: absolute;
      background-color: transparent;
      border-color: transparent;
      top: 91.417%;
      left: 1.9375%;
      z-index: 1;
    }
    .pageflip {
    height: 2.5%; 
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    z-index: 2;
    }
    .pageflipback {
      width: 8%;
      top: 60%;
      left: 14.922%;
      display: block;
    }
    .pageflipicon {
      width: 12%;
      top: 54.5%;
      left: 10.922%;
      display: block;
    }
    .pageflipcolor {
      width: 12%;
      top: 48.9%;
      left: 10.922%;
      display: block;
    }
    .rover {
      height: 69.444%;
      position: absolute;
      left: 46%;
      top: 20%;
      z-index: 0;
      display: none;
    }
    .submit {  /* Submit Button */
      height: 8.778%;
      width: 14.125%;
      border-radius: 15%/30%;
      background-color: black;
      border-color: white;
      z-index: 1;
      color: white;
      display: block;
      font-size: 1.0969vw;
      position: absolute;
      top: 80.5%;
      left: 29%;
      padding-left: 3.5%;
      text-align: left;
      font-family: 'Open Sans';
    }
    .arrow {
      height: 4.7778%;
      position: absolute;
      top: 82.5001%;
      left: 29%;
      display: block;
      z-index: 2;
    }
    .final {
        height: 3.1778%;
        width: 7.075%;
        position: absolute;
        top: 65.5075%;
        left: 29%;
        display: block;
        background-color: transparent;
        border-color: transparent;
        z-index: 1;
        color: grey;
        display: block;
        font-family: 'Open Sans';
        font-weight: bold;
    }
    .question {
        height: 10.1778%;
        width: 10.075%;
        position: absolute;
        top: 69.0038%;
        left: 29%;
        display: block;
        background-color: transparent;
        border-color: transparent;
        z-index: 1;
        font-size: 1.3969vw;
        color: white;
        display: block;
        text-align: left;
        font-family: 'Open Sans';
        font-weight: bold;
    }
    .etchbackground {   /* Big color circle */
        height: 15.389%;
        width: 7.642%;
        border-radius: 20%/15%;
        position: absolute;
        top: 47.8%;
        left: 29%;
        display: none;
    }
    .etch {
        width: 7.642%;
        position: absolute;
        top: 48.7016%;
        left: 29%;
        display: none;
    }
    /* Transitions */
    .transition-1 {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 101;
      background-color: black;
      opacity: 0;
      pointer-events: none;
      transition: 0.01s ease-out;
    } 

    .transition-1.is-active {
      opacity: 1;
      pointer-events: all;
    } 
  </style>
</head>
<body>
    <div class="transition transition-1 is-active"></div>
    <div id="Container" class="container"></div> 
    <!-- Pointer -->
       <img id="Pointer" src='../Pointer.png' alt="Pointer" class="pointer" />
    <!-- Check1 -->
       <img id="Check1" src='../Check.png' alt="Check1" class="check1" />
    <!-- Check2 -->
       <img id="Check2" src='../Check.png' alt="Check2" class="check2" />
    <!-- Check3 -->
       <img id="Check3" src='../Check.png' alt="Check3" class="check3" />
    <!-- Icon Page Button -->
       <a id="Icon Page" href="IconChoice.html" class="pageflip pageflipicon"></a>
    <!-- Back Page Button -->
       <a href="Options.html" class="back"></a>
    <!-- Options Page Button -->
       <a href="Options.html" class="pageflip pageflipback"></a>
    <!-- Color Page Button -->
       <a href="MTOdesign.html" class="pageflip pageflipcolor"></a>
    <!-- Home Page Button -->
       <button id="Home Page" onclick="document.location='C:/Users/LMOTT/Downloads/MTO Code/Templates/Table_Page.html'" class="home"></button> 
    <!-- Red Background -->
       <img id="Red Background" src='../Red Background.png' alt="Red Background" class="etchbackground"/>
    <!-- Orange Background -->
       <img id="Orange Background" src='../Orange Background.png' alt="Orange Background" class="etchbackground"/>
    <!-- Green Background -->
       <img id="Green Background" src='../Green Background.png' alt="Green Background" class="etchbackground"/>
    <!-- Blue Background -->
       <img id="Blue Background" src='../Blue Background.png' alt="Blue Background" class="etchbackground"/>
    <!-- Black Background -->
       <img id="Black Background" src='../Black Background.png' alt="Black Background" class="etchbackground"/>
    <!-- Image 1a -->
       <img id="Image 1a" src="../Image1a.png" alt="Automotive" class="etch"/>
    <!-- Image 1b -->
       <img id="Image 1b" src="../Image1b.png" alt="Consumer Products" class="etch"/>
    <!-- Image 1c -->
       <img id="Image 1c" src="../Image1c.png" alt="Retail" class="etch"/>
    <!-- Image 1d -->
       <img id="Image 1d" src="../Image1d.png" alt="Transportation" class="etch"/>
    <!-- Image 1e -->
       <img id="Image 1e" src="../Image1e.png" alt="Hospitality & Services" class="etch"/>
    <!-- Image 1f -->
       <img id="Image 1f" src="../Image1f.png" alt="Wholesale & Distribution" class="etch"/>
    <!-- Image 2a -->
       <img id="Image 2a" src="../Image2a.png" alt="Industrial Products" class="etch"/>
    <!-- Image 2b -->
       <img id="Image 2b" src="../Image2b.png" alt="Construction" class="etch"/>
    <!-- Image 2c -->
       <img id="Image 2c" src="../Image2c.png" alt="Power" class="etch"/>
    <!-- Image 2d -->
       <img id="Image 2d" src="../Image2d.png" alt="Gas & Chemicals" class="etch"/>
    <!-- Image 2e -->
       <img id="Image 2e" src="../Image2e.png" alt="Oil" class="etch"/>
    <!-- Image 2f -->
       <img id="Image 2f" src="../Image2f.png" alt="Renewables & Energy" class="etch"/>
    <!-- Image 2g -->
       <img id="Image 2g" src="../Image2g.png" alt="Utilities" class="etch"/>
    <!-- Image 2h -->
       <img id="Image 2h" src="../Image2h.png" alt="Mining & Metals" class="etch"/>
    <!-- Image 3a -->
       <img id="Image 3a" src="../Image3a.png" alt="Banking & Capital Markets" class="etch"/>
    <!-- Image 3b -->
       <img id="Image 3b" src="../Image3b.png" alt="Insurance" class="etch"/>
    <!-- Image 3c -->
       <img id="Image 3c" src="../Image3c.png" alt="Investment Management" class="etch"/>
    <!-- Image 3d -->
       <img id="Image 3d" src="../Image3d.png" alt="Real Estate" class="etch"/>
    <!-- Image 4a -->
       <img id="Image 4a" src="../Image4a.png" alt="Civil, State & Local Government" class="etch"/>
    <!-- Image 4b -->
       <img id="Image 4b" src="../Image4b.png" alt="Justice" class="etch"/>
    <!-- Image 4c -->
       <img id="Image 4c" src="../Image4c.png" alt="Defense & Security" class="etch"/>
    <!-- Image 4d -->
       <img id="Image 4d" src="../Image4d.png" alt="Health & Human Services" class="etch"/>
    <!-- Image 4e -->
       <img id="Image 4e" src="../Image4e.png" alt="International Donor Organizations" class="etch"/>
    <!-- Image 4f -->
       <img id="Image 4f" src="../Image4f.png" alt="Higher Education" class="etch"/>
    <!-- Image 5a -->
       <img id="Image 5a" src="../Image5a.png" alt="Health Care Providers" class="etch"/>
    <!-- Image 5b -->
       <img id="Image 5b" src="../Image5b.png" alt="Health Plans" class="etch"/>
    <!-- Image 5c -->
       <img id="Image 5c" src="../Image5c.png" alt="Life Sciences" class="etch"/>
    <!-- Image 6a -->
       <img id="Image 6a" src="../Image6a.png" alt="Technology" class="etch"/>
    <!-- Image 6b -->
       <img id="Image 6b" src="../Image6b.png" alt="Media & Entertainment" class="etch"/>
    <!-- Image 6c -->
       <img id="Image 6c" src="../Image6c.png" alt="Telecommunications" class="etch"/>  
    <!-- Sent to Floor -->
       <button id="Submit" class="submit">Send order to the Factory Floor</button>
    <!-- Sent to Floor -->
       <button id="Final Step" class="final">FINAL STEP</button>
    <!-- Question -->
       <button id="Question" class="question">Ready for production?</button>
    <!-- Submit Arrow -->
       <img id="Submit Arrow" src='../Submit Arrow.png' alt="Arrow" class="arrow"/>
</body>
<script>
  /* Rover & Icon Display */
  var Image1a=document.getElementById('Image 1a');
  var Image1b=document.getElementById('Image 1b');
  var Image1c=document.getElementById('Image 1c');
  var Image1d=document.getElementById('Image 1d');
  var Image1e=document.getElementById('Image 1e');
  var Image1f=document.getElementById('Image 1f');
  var Image2a=document.getElementById('Image 2a');
  var Image2b=document.getElementById('Image 2b');
  var Image2c=document.getElementById('Image 2c');
  var Image2d=document.getElementById('Image 2d');
  var Image2e=document.getElementById('Image 2e');
  var Image2f=document.getElementById('Image 2f');
  var Image2g=document.getElementById('Image 2g');
  var Image2h=document.getElementById('Image 2h');
  var Image3a=document.getElementById('Image 3a');
  var Image3b=document.getElementById('Image 3b');
  var Image3c=document.getElementById('Image 3c');
  var Image3d=document.getElementById('Image 3d');
  var Image4a=document.getElementById('Image 4a');
  var Image4b=document.getElementById('Image 4b');
  var Image4c=document.getElementById('Image 4c');
  var Image4d=document.getElementById('Image 4d');
  var Image4e=document.getElementById('Image 4e');
  var Image4f=document.getElementById('Image 4f');
  var Image5a=document.getElementById('Image 5a');
  var Image5b=document.getElementById('Image 5b');
  var Image5c=document.getElementById('Image 5c');
  var Image6a=document.getElementById('Image 6a');
  var Image6b=document.getElementById('Image 6b');
  var Image6c=document.getElementById('Image 6c');
  let Icon = localStorage.getItem('icon'); /* Rover Etching Variable */
     if (Icon === '21') {Image1a.style.display = 'block';}
     else if (Icon === '22') {Image1b.style.display = 'block';}
     else if (Icon === '23') {Image1c.style.display = 'block';}
     else if (Icon === '24') {Image1d.style.display = 'block';}
     else if (Icon === '25') {Image1e.style.display = 'block';}
     else if (Icon === '26') {Image1f.style.display = 'block';}
     else if (Icon === '27') {Image2a.style.display = 'block';}
     else if (Icon === '28') {Image2b.style.display = 'block';}
     else if (Icon === '29') {Image2c.style.display = 'block';}
     else if (Icon === '30') {Image2d.style.display = 'block';}
     else if (Icon === '31') {Image2e.style.display = 'block';}
     else if (Icon === '32') {Image2f.style.display = 'block';}
     else if (Icon === '33') {Image2g.style.display = 'block';}
     else if (Icon === '34') {Image2h.style.display = 'block';}
     else if (Icon === '35') {Image3a.style.display = 'block';}
     else if (Icon === '36') {Image3b.style.display = 'block';}
     else if (Icon === '37') {Image3c.style.display = 'block';}
     else if (Icon === '38') {Image3d.style.display = 'block';}
     else if (Icon === '39') {Image4a.style.display = 'block';}
     else if (Icon === '40') {Image4b.style.display = 'block';}
     else if (Icon === '41') {Image4c.style.display = 'block';}
     else if (Icon === '42') {Image4d.style.display = 'block';}
     else if (Icon === '43') {Image4e.style.display = 'block';}
     else if (Icon === '44') {Image4f.style.display = 'block';}
     else if (Icon === '45') {Image5a.style.display = 'block';}
     else if (Icon === '46') {Image5b.style.display = 'block';}
     else if (Icon === '47') {Image5c.style.display = 'block';}
     else if (Icon === '48') {Image6a.style.display = 'block';}
     else if (Icon === '49') {Image6b.style.display = 'block';}
     else {Image6c.style.display = 'block';}
</script>

<script type="module">
    import * as THREE from 'three';
    import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
    import { OBJLoader } from 'three/addons/loaders/OBJLoader.js';
    import { MTLLoader } from 'three/addons/loaders/MTLLoader.js';
    
    // Add scene and Camera
    var container = document.getElementById('Container');
    document.body.appendChild(container);
    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera(30, 1.75, 0.1, 1000);
    const renderer = new THREE.WebGLRenderer({alpha: true, antialias: true});
    renderer.setSize(container.offsetWidth, container.offsetHeight);
    renderer.setPixelRatio(window.devicePixelRatio);
    container.appendChild(renderer.domElement);
    //Camera Zoom, may change for each Rover
    camera.position.z = 60;
    camera.position.x = 0;
    camera.position.y = 0;

    window.addEventListener('resize', function () {
      renderer.setSize(container.offsetWidth, container.offsetHeight);
      renderer.setPixelRatio(window.devicePixelRatio);
      container.appendChild(renderer.domElement);
      controls.maxPolarAngle = 1.02;
      controls.minPolarAngle = 1.02;
      controls.maxAzimuthAngle = -0.76;
      controls.minAzimuthAngle = -0.76;
      window.addEventListener("load", controlsOn);
      function controlsOn() {
        controls.autoRotate = true;
        controls.maxPolarAngle = Infinity;
        controls.minPolarAngle = -3.14;
        controls.maxAzimuthAngle = Infinity;controls.minAzimuthAngle = -3.14;
      }
      camera.position.z = 60;
      camera.position.x = 0;
      camera.position.y = 0;

    });

    // Use OrbitControls 
    var controls = new OrbitControls(camera, renderer.domElement);
    controls.enableDamping = true;
    controls.dampingFactor = 0.25;
    controls.enableZoom = false;
    controls.enablePan = false;
    controls.maxPolarAngle = 1.02;
    controls.minPolarAngle = 1.02;
    controls.maxAzimuthAngle = -0.76;
    controls.minAzimuthAngle = -0.76;
    window.addEventListener("load", controlsOn);
    function controlsOn() {
      controls.autoRotate = true;
      controls.maxPolarAngle = Infinity;
      controls.minPolarAngle = -3.14;
      controls.maxAzimuthAngle = Infinity;
      controls.minAzimuthAngle = -3.14;
    }

    // Add lights
    const ambientLight = new THREE.AmbientLight(0x404040, 10.0); 
    var keyLight = new THREE.DirectionalLight(new THREE.Color('hsl(30, 100%, 75%)'), 3.0);
    keyLight.position.set(50, 50, 50);
    var fillLight = new THREE.DirectionalLight(new THREE.Color('hsl(240, 100%, 75%)'), 2.5);
    fillLight.position.set(-50, 50, 50);
    scene.add(ambientLight);
    scene.add(camera);
    camera.add(keyLight);
    camera.add(fillLight);

  var RedBackground=document.getElementById('Red Background');
  var OrangeBackground=document.getElementById('Orange Background');
  var GreenBackground=document.getElementById('Green Background');
  var BlueBackground=document.getElementById('Blue Background');
  var BlackBackground=document.getElementById('Black Background');
  let Color = localStorage.getItem('color'); /* Rover Color Variable */
  let option = localStorage.getItem('option'); /* Rover Kit Variable */
     if (Color === 'Red') {
        RedBackground.style.display = 'block';
        if (option === '1') {
          var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Red_Fan_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Red_Fan_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
         
        } else if (option === '2') {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Red_Speaker_Rover.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Red_Speaker_Rover.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
          
        } else if (option === '3') {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Red_Transistor_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Red_Transistor_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        } else {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Red_3D_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Red_3D_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        }
     } else if (Color === 'Orange') {
        OrangeBackground.style.display = 'block';
        if (option === '1') {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Orange_Fan_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Orange_Fan_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        } else if (option === '2') {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Orange_Speaker_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Orange_Speaker_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        } else if (option === '3') {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Orange_Transistor_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Orange_Transistor_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        } else {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Orange_3D_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Orange_3D_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        }
     } else if (Color === 'Green') {
        GreenBackground.style.display = 'block';
        if (option === '1') {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Green_Fan_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Green_Fan_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        } else if (option === '2') {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Green_Speaker_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Green_Speaker_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        } else if (option === '3') {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Green_Transistor_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Green_Transistor_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        } else {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Green_3D_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Green_3D_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        }
     } else if (Color === 'Blue') {
        BlueBackground.style.display = 'block';
        if (option === '1') {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Blue_Fan_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Blue_Fan_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        } else if (option === '2') {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Blue_Speaker_Rover.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Blue_Speaker_Rover.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        } else if (option === '3') {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Blue_Transistor_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Blue_Transistor_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        } else {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Blue_3D_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Blue_3D_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        }
     } else {
        BlackBackground.style.display = 'block';
        if (option === '1') {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Black_Fan_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Black_Fan_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        } else if (option === '2') {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Black_Speaker_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Black_Speaker_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        } else if (option === '3') {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Black_Transistor_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Black_Transistor_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        } else {
         var mtlLoader = new MTLLoader();
          mtlLoader.setPath('./');
          mtlLoader.load('Black_3D_Kit.mtl', (materials) => {
            materials.preload();
            var objLoader = new OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.setPath('./');  
            objLoader.load('Black_3D_Kit.obj', function(object) {
              object.position.set(-11,-6.4,-6);
              object.rotation.set(-1.57,0,0);
              scene.add(object);
            });
          });
        }
     }
     // Animation loop
    var animate = function() {
      requestAnimationFrame(animate);
      controls.update();
      renderer.render(scene, camera);
    };


    animate();

</script>

 
<script>
  /* Transitions */
  window.onload = () => {
      const transition_el = document.querySelector('.transition');

      setTimeout( () => {
        transition_el.classList.remove('is-active');
      }, 10);
  }
</script>
</html>
